/.EBNFLangDescriptionLabelProvider.java._trace
/.EBNFLangDescriptionLabelProvider.xtendbin
/.EBNFLangLabelProvider.java._trace
/.EBNFLangLabelProvider.xtendbin
/EBNFLangDescriptionLabelProvider.java
/EBNFLangLabelProvider.java
