/.EBNF2JParsecGenerator.java._trace
/.EBNF2JParsecGenerator.xtendbin
/.GeneratorTest.java._trace
/.GeneratorTest.xtendbin
/.GeneratorTestFiles.java._trace
/.GeneratorTestFiles.xtendbin
/EBNF2JParsecGenerator.java
/GeneratorTest.java
/GeneratorTestFiles.java
